.home {
    flex-direction: column;
    height: calc(100vh - 154px);

    &-container {
        flex: 1;
        justify-content: space-evenly;
        padding: rem(20px) rem(30px);

        p {
            width: 25%;
            text-align: left;
            font-size: rem(20px);

            span:first-child {
                font-size: rem(27px);
                font-weight: 700;
            }

            .end-p {
                font-weight: 500;
                font-size: rem(24px);
            }

            >* {
                color: $strongerclr2;
            }
        }

        .pic-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            gap: rem(5px);
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;

            .pic {
                width: 330px;
                height: auto;
            }

            h2 {
                font-size: rem(24px);
                text-align: center;
                font-weight: bold;
                color: $strongerclr5;
            }

            button {
                padding: rem(10px);
                font-size: rem(16px);
                font-weight: 400;
                border-radius: rem(8px);
                border-color: $lightclr3;
                background-color: $lightclr4;
            }

        }
    }

    &.visible {
        .pic-container {
            opacity: 1;
            transform: translateY(0);
        }
    }
}