nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: rem(40px);

    .logo {

        &-image {
            width: 350px;
            height: 150px;
        }
    }

    section {
        display: flex;
        gap: rem(20px);
        font-size: rem(25px);

        a {
            padding: rem(7px);
            color: $lightclr5;
            font-weight: 500;

            &.active {
                border-radius: rem(8px);
                background-color: $strongerclr3;
                color: white;
            }
        }
    }
}