// @import '../variabels.module.scss';

footer {
    padding: 0px 30px 10px;
    background-color: $lightclr5;
    position: relative;


    .footer {
        &-top {
            display: flex;
            justify-content: center;

            .lifetyle-container {

                .lifestyle-img {
                    position: absolute;
                    width: auto;
                    height: 200px;
                    border-radius: 10px;
                    left: 20px;
                    bottom: 55px;
                }
            }


            .logo-container {
                .logo-image {
                    height: 157px;
                    width: auto;
                }

                p {
                    text-align: center;
                    font-size: 1.2rem;
                    margin-block-end: 2px;
                }
            }

            .contact {
                display: flex;
                align-items: center;
                gap: 10px;

                a:first-child div {
                    margin-inline-start: 20px;
                }

                div {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: $lightclr4;


                    .img {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;

                    }
                }
            }
        }

        &-bottom {
            padding-block-start: 5px;
            border-top: 1px solid black;
            text-align: center;
        }
    }

}