$lightclr1: #faf0e6;
$lightclr2: #fff0db;
$lightclr3: #eed9c4;
$lightclr4: #e4d5b7;
$lightclr5: #d9b99b;
$strongerclr1: #f2dbb7;
$strongerclr2: #dfd3a2;
$strongerclr3: #eacdb7;
$strongerclr4: #f6e6bf;
$strongerclr5: #dbba9b;